{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>
    <p>Please use the form below to make an account. If you're a returning user, please <a href="/login">login</a>.</p>

<form action="/signup" method="POST">
    <table>
        <tr>
            <td><label for="username">Username: </label></td>
            <td><input type="text" name="username" id="username"></td>
        </tr>
        <tr>
            <td><label for="password">Password: </label></td>
            <td><input type="password" name="password" id="password"></td>
        </tr>
        <tr>
            <td><label for="verify">Verify: </label></td>
            <td><input type="password" name="verify" id="verify"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Register">
            </td>
        </tr>
    </table>
</form>

{% endblock %}